* {
    padding:0;
    margin:0;
}

ul{
    list-style: none;
}
li{
    list-style: none;
    font-size:16px;
}
input{
    outline:none;
}
img.nghich {
    height: 1px;
    width: 40px;
    margin-right: 9px;
}
.rotate_button{
    transform: rotate(180deg);
}

.hover_white:hover{
    transition: all .5s ease;
    box-shadow: 0px 8px 16px 0px #FFFFFF59;
    background: linear-gradient(#3EED8B, #0A9949);
    
}
.hover_white:hover > .introduce_input-button_frame  {
    transition: all .7s ease;
    filter: brightness(0) invert(1);
}
.hover_white:hover >.introduce_input-button_text  {
    transition: all .3s ease;
    color:white;   
}
.hover_white > .introduce_input-button_frame  {
    transition: all .7s ease;
    filter: brightness(1) invert(0);
}
.hover_white >.introduce_input-button_text  {
    transition: all .7s ease; 
}
.hover_green:hover{
    transition: all .5s ease;
    background: linear-gradient(#3EED8B, #0A9949);
    background-clip: text;
    color: transparent;
}
.hover_orange:hover{
    transition: all .5s ease;
    background: rgb(6 133 243);
    background-clip: text;
    color: transparent;
}
a {
    text-decoration: none;
}
html {
    box-sizing: border-box;
 }
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.baloo-bhai-2 {
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.circle{
    border: 3px solid white;
}
p {
    font-size:1 rem;
}
.padding-color{
    border: 5px solid #0A9949;
}
.header_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
    z-index: 90;
}
span.bar.x.open {
    background-color: black;
}
.header_menu .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all 500ms ease-in-out;
}
.header_menu:hover {
    cursor: pointer;
}
.x:nth-of-type(1) {
    transition: all 500ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
}

.x:nth-of-type(2) {
    transition: all 500ms ease-in-out;
    transform-origin: center;
    width: 0;
    
}
.slide-next::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    transform: skewX(-25deg);
}
.slide-next:hover::before{
    left:123%;
    transition: all 1s ease;
}   

.x:nth-of-type(3) {
    transition: all 500ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
}
.color{
    background: linear-gradient(to right,#3EED8B, #0A9949);
    background-clip: text;
    color: transparent;
    transition: all 500ms ease-in-out;
}

.color_title{
    background: linear-gradient(to right,#3EED8B, #0A9949);
    background-clip: text;
    color: transparent;
    transition: all 500ms ease-in-out;
}
.close{
    display:none;
}
.container{
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
.header-navbar-phone{
    background: linear-gradient(#3EED8B,#0A9949);
}
.header-navbar-item::after {
    content: "";
    position: absolute;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    right: 50%;
    transform: translate(50%, 5px);
    height: 0px;
    width: 0%;
    bottom: 0;
    background-color: black;
    transition: all .5s ease;
}
.header-navbar-item{
    color:black;
    transition: all .5s ease;
}
.header-navbar-item:hover{
    color: #0A9949;
    transition: all .5s ease;
}
.header-navbar-item:hover::after {
    content: "";
    position: absolute;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    right: 50%;
    transform: translate(50%, 5px);
    height: 2px;
    width: 35%;
    bottom: 0;
    background-color: black;
    background-color: #0A9949;
}

.header_close{
    display:none;
}
.header_child-below{
    display:none;
}
.header-navbar-bar{
    position: relative;
    top: -15px;
    opacity: 0.5;
    transition: all .5s ease;
}
.header-navbar-bar.active {
    top:0;
    opacity:1;
    transition: all .5s ease;
}
.header-navbar-item_1:hover{
    background-color:zinc;
    color:red;
}
.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 80;
    height:0;
    background: rgba(0, 0, 0, 0.9);
    transition: height 0.5s ease;
}
.header_child-above {
    background-color: black;
    opacity: 0.8;
}
.header-navbar.active {
    opacity: 1;
    height:100%;
}
.header-navbar-main {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    text-align: left;
    background: #fff;
    width: 380px;
    height: 100%;
    overflow: auto;
    right: 0;
    overflow-y: scroll;
    transition: padding 0.5s ease;
}
.active.header-navbar-main{
    padding: 27px 20px 20px;
}
.header-navbar-main .header-navbar-bar{
    border-left: solid 1px #e1e1e1;
}
.img_center{
    transform: translateX(-0.000140192px) translateZ(-249.954px) rotateY(-0.525486deg) !important;
    left:-485px;
    transition: all 0.3s ease;    
}
.img_left-1{
    transform: translateX(14.8812px) translateZ(-146.922px) rotateY(25.0131deg) !important;
    left:-485px;
    transition: all 0.3s ease; 
}
.img_right-1{
    transform: translateX(-17.8389px) translateZ(-133.761px) rotateY(-26.5896deg) !important;
    left:-485px;
    transition: all 0.3s ease; 
}
.img_left-2{
    transform: translateX(113.125px) translateZ(142.203px) rotateY(49.9737deg) !important;
    left:-485px;
    transition: all 0.3s ease; 
}
.img_right-2{
    transform: translateX(-131.385px) translateZ(182.327px) rotateY(-52.6537deg) !important;
    left:-485px;
    transition: all 0.3s ease; 
}
.img_left-3{
    transform: translateX(352.45px) translateZ(564.341px) rotateY(74.9869deg) !important;
    left:-485px;
    transition: all 0.3s ease; 
}
.img_right-3{
    transform: translateX(-393.795px) translateZ(623.157px) rotateY(-78.1398deg) !important;
    left:-485px;
    transition: all 0.3s ease; 
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
    display: none;
}
.introduce_img-phone-font{
    rotate: -45deg;
    color:white;
}

.hover_prev-img{
    border: 3px solid #0A9949;
    color:#0A9949;
    cursor: pointer;
    transition: all .7s ease;
}
.hover_prev-img:hover{
    background-color: #0A9949;
    color:white;
    transition: all .7s ease;
}
.hover_prev-team,.hover_next-team{
    border: 3px solid white;
    color: white;
    cursor: pointer;
    transition: all .7s ease;
}
.hover_prev-team:hover,.hover_next-team:hover{
    background-color: white;
    color:#0A9949;
    transition: all .7s ease;
}
.hover_next-img{
    position: relative;
    background-clip: padding-box;
    /* - Phần diện tích được thiết lập màu nền sẽ bao gồm:
    padding.
    content. */
    border: 3px solid transparent;
    background-color: #eee;
    cursor: pointer;
    transition: all .7s ease;
}
.hover_next-img:hover{
    background-color:linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    z-index:1;
    background-clip: inherit;
    border: 3px solid transparent;
    transition: all .7s ease;
}
.hover_next-img::before {
    content: "";
    position: absolute;
    margin: -3px;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    border-radius: inherit;
    transition: all .7s ease;
}
.hover_next-img >.next_img{
    background: linear-gradient(90deg, #50C577 0%, #2DBEFC 100%);
    background-clip: text;
    color: transparent;
    transition: all 1s ease;
}

.hover_next-img:hover > .next_img{
    color:white;
    transition: all 1s ease;
}
.introduce_information-child_0::after{
    content: "___";
    font-size: 16px;
    position: relative;
    /* text-decoration: line-through; */
    color:#3EED8B;

    top: -7px;
    margin-left: 8px;
}
img.h-auto.absolute.introduce_img {
    bottom: 0;
    right: 3%;
}
.inroduce.relative {
    display: flex;
    justify-content: flex-end;
}
.introduce_table {
    background: linear-gradient(#3EED8B, #0A9949);
}

span.introduce_input-button_text {
    background: linear-gradient(#3EED8B, #0A9949);
    background-clip: text;
    color: transparent;
}
.btn_chung2:hover > .register_chan{
    transition: all .7s ease;
    background: linear-gradient(to right, #3EED8B, #0A9949);
}
.btn_chung2.close_inset{
    inset:auto;
}
/* color_padding */
/* .button-information_header-text-child-font{
    padding: 2px;
    background-color: rgb(241 202 202);
    background-image: linear-gradient(to bottom, #3EED8B,#0A9949), linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background-clip: content-box, padding-box;
    border-radius: 20px;
} */
.introduce_table-input_child::placeholder{
    color:white;
}
.introduce_table-input_child{
    background: #F5F5F559;

}
a.introduce_phone.flex.border-2.border-solid.rounded-full.w-64.h-16.text-white.items-center.justify-evenly.image_button {
    width: 187px;
}
.content-color{
    background: linear-gradient(to right,#3EED8B, #0A9949);
    background-clip: text;
    color: transparent;
}
.advantage_parent-center_content::before {
    content: "___";
    font-size: 16px;
    position: relative;
    color: white;
    /* text-decoration: line-through; */
    top: -7px;
    margin-right: 8px;
}
.close_advantage-child{
    display:none;
}
.advantage_parent-bottom_frame,.advantage_parent-top_frame {
    transform: translateX(17px);
}
.advantage_parent-center_content::after {
    content: "___";
    font-size: 16px;
    position: relative;
    color: white;
    top: -7px;
    margin-left: 8px;
}
.advantage_child-top_img {
    border-radius: 100%;
    background: linear-gradient(#3EED8B, #0A9949);
    transform: translateY(10px);
    box-shadow: 0px 8px 16px 0px #0A994959;
}
.advantage_child-bot_img {
    border-radius: 100%;
    background: linear-gradient(#3EED8B, #0A9949);
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px 0px #0A994959;

}
.advantage_child-top_da {
    background-color: #EAFAF1;
}
.advantage_parent-center {
    border-radius: 30px;
}
.advantage_parent-center {
    background: linear-gradient(176deg, #3EED8B 0%, #0A9949 100%);
}
.team_parent-1 {
    background: linear-gradient(to right, #3EED8B, #0A9949);
    height: 435px;
}
.contain-team_parent-1{
    height:410px;
}
.team_child-0_infor-0::after {
    content: "----------";
    font-size: 16px;
    color:#eee;
    text-decoration: line-through #3EED8B;
    margin-left: 8px;
}
.team_child-1_slide{
    display:none;
}
.team_child-1_slide.set{
    display:flex;
    opacity:0.1;
}
.team_child-1_slide.hide{
    transform: translateX(-747px);
    opacity:0.1;
    display:flex;
    transition: all 0.5s ease;
}
.team_child-1_slide.hide1{
    transform: translateX(747px);
    opacity:0.1;
    display:flex;
    transition: all 0.5s ease;
}
.team_child-1_slide.show{
    opacity:1;
    transition: all .9s ease;
    display:flex;
}
img.team_img-child.team_img-child_0 {
    left: 11%;
    top:0;
    transform: rotate(68deg);
    box-shadow: 0px 8px 40px 0px #00000026;
}
.prev_team-hidden{
    display:none;
}
.next_team-hidden{
    display:none;
}
.hover_prev-team:hover > .prev_team-hidden{
    display:block;
    transition: opacity .3s ease;
    opacity:1;
}
.hover_prev-team:hover > .prev_team-open{
    display:none;
}
.hover_next-team:hover > .next_team-hidden{
    display:block;
    transition: opacity .3s ease;
    opacity:1;
}
.hover_next-team:hover > .next_team-open{
    display:none;
}
img.team_img-child.team_img-child_1 {
    left: 43%;
    top:12%;
    transform: rotate(-16deg);
    box-shadow: 0px 8px 40px 0px #00000026;
}
.rating-star{
    left:10%;
    box-shadow: 6px 8px 40px 0px #00000014;

}
.fa-solid.fa-star{
    color:orange;
}
.feel_child-center_img-feature{
    background-image: url('img/f0c2ab523d66d33ebb5dc41a9900b502.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.feel_child-img{
    cursor: pointer;
}
.feel_child-center_img-feature_1{
    background: linear-gradient(to right, #3EED8B, #0A9949);
    opacity:0.6; 
}
.feel_border-img{
    border: 4px solid white;
}
.feel-center-information_detail {
    height: 390px;
}
.feel-center-content-title::before {
    content: "-----";
    font-size: 16px;
    color:#eee;
    text-decoration: line-through #3EED8B;
    margin-right: 8px;
}
.feel-center-content-title{
    background: linear-gradient(#3EED8B, #0A9949);
    background-clip: text;
    color: transparent;
}
.feel-center-content-title::after {
    content: "-----";
    font-size: 16px;
    color:#eee;
    text-decoration: line-through #3EED8B;
    margin-left: 8px;
}

/* sửa phần js ở phần button */
.btn_chung{
    display: flex;
    position:relative;
    box-shadow: 0px 8px 20px 0px #00E26466;
    background: white;
    border-radius: 100px;
    align-items: center;
    z-index:-1;
    justify-content: space-evenly;
    transition: all .7s ease;    
}
.father_button{
    position:relative;
}
.btn_chung2{
    display: flex;
    position:absolute;
    box-shadow: 0px 8px 20px 0px #00E26466;
    opacity:2;
    background: linear-gradient(135deg, #3EED8B 0%, #0A9949 100%);
    border-radius: 100px;
    align-items: center;
    justify-content: space-evenly;
    transition: all .7s ease; 
    inset:0;
}
.btn_chung2:hover{
    opacity:0;
    transition: all .7s ease;
}
.chan{
    background: linear-gradient(135deg, #3EED8B 0%, #0A9949 100%);
    background-clip: text;
    color: transparent;
    transition: all 1s ease;
}
.chan2{
    color:white;
    transition: all 1s ease;
}
.price_list-infor_content::after {
    content: "______";
    font-size: 16px;
    position: relative;
    background: linear-gradient(135deg, #3EED8B 0%, #0A9949 100%);
    background-clip: text;
    color: transparent;
    /* text-decoration: line-through; */
    top: -7px;
    margin-left: 8px;
}
.price_list-input_button.btn_chung {
    right: 1%;
    top: 19%;
}
.price_list-input_button.btn_chung2 {
    left: -1%;
}
.price_list-title_off{
    transition: all 1s ease;
    background-color:white;
    width:100%;
    max-height:0;
    box-sizing: border-box;
}
.button_price-list{
    right: 0;
    top: 16px;
}
.price_list-title_off.change_title{
    transition: all 2s ease;
    max-height: 1000px;
    width:100%;
    box-shadow:0px 9px 15px 0px rgba(0,0,0,.15);
    box-sizing: border-box;
}
li.price_list-title {
    padding: 12px;
}
img.endow_icon-like {
    left: 40%;
    top: 16%;
    transform: rotate(15deg);
    box-shadow: 0px 8px 40px 0px #00000026;

}
img.endow_icon-heart {
    left: 3%;
    top: -3%;
    transform: rotate(348deg);
    box-shadow: 0px 8px 40px 0px #00000026;

}
img.endow_background-child_2.absolute {
    transform: translateY(-11px);
}

img.endow_background-child_0 {
    bottom:16%;
}
img.endow_background-child_1 {
    bottom: 8%;
}
img.endow_background-child_2.absolute {
    bottom: 35.4%;

}
img.endow_background-child_3 {
    bottom:0;
}
img.endow_background-child_4 {
    bottom:0;
}
.endow_icon-star_parent {
    top: 33%;
    left: 2%;
    transform: rotate(24deg);
}
img.endow_background-girl_1 {
    right: -6%;
    bottom: 6%;
}
img.endow_background-girl_2 {
    transform: translateX(-22%);
}
.endow_detail-per{
    background: linear-gradient(#FFEFBA, #FFE281);
    background-clip: text;
    color: transparent;
}
.endow_people-like{
    width:400px;
    box-shadow: 0px 8px 40px 0px #00000040;
}
.back-to-top{
    padding-top: 2px;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    right: 15px;
    border-radius: 5px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;
    color: white;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.back-to-top.show:hover{
    background: black;
    box-shadow: 0px -1px 7px 8px #00000026;
    transition: all 0.3s ease-in-out;
}
.back-to-top.show {
    opacity: 1;
    pointer-events: all;
    visibility: unset;
}
@keyframes call-to-mes-circle-ani {
    0%  {transform: rotate(0) scale(.7);opacity: .1;}
    50% {transform: rotate(0) scale(1) ;opacity: .15;}
    100% {transform: rotate(0) scale(.7);opacity: .2;}
}
@keyframes call-to-mes-img-ani {
    /* skew là dộ nghiêng */
    0%  {transform: rotate(0) scale(1) skew(1deg);}
    10% {transform: rotate(-25deg) scale(1) skew(1deg);}
    20% {transform: rotate(25deg) scale(1) skew(1deg);}
    30% {transform: rotate(-25deg) scale(1) skew(1deg);}
    40% {transform: rotate(25deg) scale(1) skew(1deg);}
    50% {transform: rotate(0) scale(1) skew(1deg);}
    100% {transform: rotate(0) scale(1) skew(1deg);}
}
.call-to-mes{
    z-index: 40;
    width: 66px;
    height: 53px;
    z-index: 40;
    bottom: 134px;
    right: 0;
    position: fixed;
}
.call-to-mes-circle{
    width: 60px;
    height: 60px;
    bottom: -4px;
    left: 3px;
    position: absolute;
    background: #2b5e8a;
    border-radius: 100%;
    animation: call-to-mes-circle-ani 2.6s ease-in-out infinite alternate;
    transition: all .5s;
}
.call-to-mes-img{
    width: 42px;
    height: 42px;
    bottom: 2px;
    left: 12px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .99;
    animation: call-to-mes-img-ani 1s ease-in-out infinite alternate;
}
.chat-mes{
    opacity:0;
    width:0;
    height:0;
    position: absolute;
    background: #10a34a;
    font-size: 14px;
    padding:0;
    color: #fff;  
    left: -183px;
    bottom: 8px;
    cursor:auto;
    transition: opacity 1s ease;
    overflow:hidden;
}
.call-to-mes:hover > .chat-mes{
    padding: 6px;
    opacity:1;
    width:auto;
    height:auto;
    overflow:inherit;
    transition: opacity 1s ease;
}
.chat-mes::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent transparent transparent #10a34a;
    position: absolute;
    left: 176px;
    bottom:7px;
    transition: opacity 1s ease;
}

span#hours_number {
    color: #FFEEB5;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
}
span#days_number {
    color: #FFEEB5;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
}
span#minutes_number {
    color: #FFEEB5;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
}
span#seconds_number {
    color: #FFEEB5;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
}
i.footer-item_link-icon:hover {
    transition: all .5s ease;
    color: rgb(6 133 243);
    transform: translateY(-5px);
}

img.footer_img {
    filter: brightness(0) invert(1);
    width:328px;
}
.register_table-input {
    height: 390px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.register_table-content {
    background: linear-gradient(135deg, #3EED8B 0%, #0A9949 100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.register_table-input_child-footer {
    background-color: #F5F5F5;
}

.footer{
    height: 658px;

}
.endow_times-child{
    width: 75px;
    height: 85px;
}

@media screen and (max-width:1280px) {
    .contain-team_parent-1 {
        height: auto;
    }
    img.team_img-child.team_img-child_1 {
        left: 9px;
        top: 56%;
    }
    img.team_img-child.team_img-child_0 {
        left: 4%;
        top: 38%;
    }
}
@media screen and (max-width:1608px) {
    img.h-auto.absolute.introduce_img {
        height: 600px;
    }
}
@media screen and (max-width:1280px) and (min-width: 640px){
    .advantage_child-top_img {
        transform: translateY(22px);
    }
    .advantage_child-bot_img {
        transform: translateY(-22px);
    }
    .footer{
        height: 1200px;
    }
}
@media screen and (max-width:1024px){
    .endow_people-like{
        width:224px;
    }
}
@media screen and (max-width:767px){
    .feel{
        align-items:center;
    }
    .feel-center{
        width:95%;
    }
    .feel-left{
        width:95%;
        height:200px;
    }
    .feel-right{
        width:95%;
        height:200px;
    }
    .feel-center-information_detail {
        height: 370px;
    }
    .footer{
        height: 1200px;
    }
    .rating-star {
        top: 49%;
        left: 15%;
    }
    img.team_img-child.team_img-child_1 {
        left: 32%;
        top: 40%;
    }

}
@media screen and (max-width:639px) {
    .endow_background-girl_0{
        bottom:-166px;
    }
    .advantage_child-top_img.absolute.top-0 {
        transform: translateY(1px);
    }
    .advantage_child-bot_img.absolute.bottom-0 {
        transform: translateY(1px);
    }
    span.advantage_child-top_content.text-3xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    img.team_img-child.team_img-child_0 {
        top: 51%;
        height:50px;
    }
    img.team_img-child.team_img-child_1 {
        top: 41%;
        height: 50px;

    }
    .team_parent-1 {
        height: 472px;
    }
    .feel-left{
        height:110px;
    }
    .feel-right{
        height:110px;
    }
    img.endow_icon-like {
        left: 80%;
        top: 2%;
    }
    .endow_icon-star_parent {
        top: 15%;
    }
    img.advantage_child-top_img-ch.p-5 {
        padding: 0.75rem;
    }
}
@media screen and (max-width:510px) {
    .introduce_table.flex.w-full {
        height: 360px;
    }
    input.register_table-input_child {
        width: 95%;
    }
    input.introduce_table-input_child {
        width: 95%;
    }
    .introduce_table-child_input.my-8 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img.h-auto.introduce_img {
        height: auto;
        width: auto;
    }

}

@media screen and (max-width:481px) {
    .header-navbar-main{
        width:300px;
    }
    .text-5xl {
        font-size:2.25rem;
    }
    .register_table-input_child {
        width: 151px;
        height: 39px;
    }
    .rating-star.h-16.w-52 {
        top: 43%;
        left: 1%;
        height:3rem;
        width: 11rem;
    }

    .feel-left {
        height: 110px;
    }
    .feel-center-information_detail {
        height: 430px;
    }
    .advantage_child-top_img {
        transform: translateY(9px);
    }
    .advantage_child-bot_img {
        transform: translateY(5px);
    }
    .team_parent-0_infor {
        transform: translateY(-38px);
    }
    img.team_img-child {
        display: none;
    }
    .endow_times-child{
        width: 65px;
        height: 75px;
    }
    .team_parent-1 {
        height: 470px;
    }
    img.endow_icon-like {
        left: 70%;
        top: -2%;
    }
    .team_img-feature.h-60{
        height:13rem;
    }
    .team_parent-1.mt-32{
        margin-top:0;
    }
    .team-hidden.mb-14{
        margin-bottom:39px;
    }
    img.team_img-child.team_img-child_0 {
        top: 47%;
    }
    .introduce_table-child_input.w-4\/5 {
        width: 100%;
    }
    .introduce_table.h-96 {
        height: 450px;
    }

    .footer_gmail{
        display:flex;
        flex-direction: column;
    }
    .footer_name-gmail.text-base{
        font-size:14px;
    }
    .register_chan.rounded-full.flex.justify-center.items-center {
        display: none;
    }
    .price_list-input_button.w-48 {
        width:9rem;
    }
    .father_button.w-48{
        width:9rem;
    }
    /* .close_advantage-child{
        display:flex;
    } */
    .close_advantage-chil{
        display:none;
    }
    .advantage_child-top.relative.advantage_child-top_hidden-0.h-60.w-full.m-1.flex.flex-col.justify-end.items-center.text-center {
        display: none;
    }
    .advantage_child-bottom.relative.advantage_child-bottom_hidden-0.h-60.w-full.m-1.flex.flex-col.justify-start.items-center.text-center {
        display: none;
    }

}
@media screen and (max-width:350px){
    .team_img-feature.h-60 {
        height: 10rem;
    }
}
@media screen and (max-width:1024px){
    .advantage_child-top_content.text-2xl{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    /* .feel_child-right_img-0 {
        right:0;
    }
    .feel_child-right_img-1 {
        right:0;
    }
    .feel_child-right_img-2 {
        right:0;
    } */
}
@media screen and(max-width:1805px){
    img.h-auto.introduce_img.w-auto {
        height: 600px;
    }
}
@media screen and (min-width:1024px) and (max-width:1280px){
    .feel_child-left_img-0 {
        transform: translateX(42px);
        bottom:9%;
    }
    .feel_child-left_img-2 {
        bottom: 0;
        transform: translateX(29px);
    }
    .feel_child-left_img-1 {
        bottom: 0;
        left:0;
    }   
    .feel_child-right_img-1 {
        right:0;
    }
    .feel_child-right_img-0 {
        transform: translateX(-46px);
        bottom:9%;
    }
    .feel_child-right_img-2 {
        right:0;
        transform: translateX(-27px);
    }
    .advantage_child-top_img.top-0 {
        transform: translateY(25px);
    }
    
    .advantage_child-bot_img.bottom-0 {
        transform: translateY(-26px);
    }
    .footer{
        height: 600px;
    }
}
@media screen and (min-width:640px){
    .endow_people-like{
        transform: translateY(50px);
    }
    .rating-star{
        transform: translateY(34px);
    }
}
@media screen and (min-width:1280px){
    .feel_child-left_img-0 {
        right:0;
    }
    .feel_child-left_img-2 {
        bottom: 0;
        left:25%;
    }
    .feel_child-left_img-1 {
        bottom: 0;
        left:0;
    }   
    .feel_child-right_img-1 {
        right:0;
    }
    .feel_child-right_img-0 {
        left:0;
    }
    .feel_child-right_img-2 {
        bottom: 0;
        right: 25%;
    }
}

@media screen and (min-width:768px) and (max-width:780px){
    .team_child-1_infor-0.text-3xl{
        font-size: 29px;
    }

}
/* swiper */
.swiper.swiper-panorama.swiper-3d.swiper-initialized.swiper-horizontal.swiper-watch-progress {
    left: -33px;
}